<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @adress.apartment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adress.description %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @adress.zipcode %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
