<h1>New Category</h1>


<%= form_for @category, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label(:name, "Name:") %>
  <%= f.text_field :name %>
  <%= f.label(:description, "Description:") %>
  <%= f.text_field :description %>
  <%= f.submit "Create" %>
<% end %>
